In [5]:
import pandas as pd
import numpy as np
import json

In [6]:
train = pd.read_json("data/train-v2.0.json")
dev = pd.read_json("data/dev-v2.0.json")

In [7]:
train.shape, dev.shape

((442, 2), (35, 2))

In [8]:
train.head(3)

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...

In [18]:
contexts = []
questions = []
ans_text = []
ans_start = []
for i in range(np.size(train, 0)):
    subject = train.iloc[i,1]['paragraphs']
    for paragraph in subject:
        for qa in paragraph['qas']:
            if len(qa['answers']) != 0:
                for answer in range(np.size(qa['answers'], 0)):
                    questions.append(qa['question'])
                    ans_start.append(qa['answers'][answer]['answer_start'])
                    ans_text.append(qa['answers'][answer]['text'])
                    contexts.append(paragraph['context'])  
data = pd.DataFrame({"context":contexts, "question": questions, "answer_start": ans_start, "text": ans_text})

In [10]:
data.shape

(86821, 4)

In [11]:
data.head(5)

,context,question,answer_start,text
0,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,269,in the late 1990s
1,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,207,singing and dancing
2,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,526,2003
3,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,166,"Houston, Texas"
4,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,276,late 1990s

In [29]:
from textblob import TextBlob

blob = TextBlob(" ".join(paras))
sentences = [item.raw for item in blob.sentences]

In [14]:
data.to_csv("data/train.csv", index = False)

In [22]:
from InferSent.models import InferSent
import torch
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/czaja/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [31]:
V = 1
MODEL_PATH = 'InferSent/encoder/infersent%s.pkl' % V
params_model = {'bsize': 64, 'word_emb_dim': 300, 'enc_lstm_dim': 2048,
                'pool_type': 'max', 'dpout_model': 0.0, 'version': V}
infersent = InferSent(params_model)
infersent.load_state_dict(torch.load(MODEL_PATH))

W2V_PATH = 'InferSent/GloVe/glove.840B.300d.txt'
infersent.set_w2v_path(W2V_PATH)

In [26]:
paras = list(df["context"].drop_duplicates().reset_index(drop= True))
len(paras)

18877